
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #eef2f3, #d9e4f5);
    color: #333;
    line-height: 1.6;
      font-size: 18px;
       padding-top: 100px;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #0f172a;
    color: white;
    z-index: 1000;
}

.nav a {
    text-decoration: none;
    color: white;
    margin-left: 25px;
    font-weight: 500;
    transition: 0.3s ease;
}

.nav a:hover {
    color: #38bdf8;
      font-size: 17px;
}


section {
    padding: 100px 80px;
    scroll-margin-top: 90px;
}


.about-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.profile-img {
    width: 180px;
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.skills ul {
    list-style: none;
    margin-bottom: 20px;
}

.skills li {
    background: white;
    padding: 10px 15px;
    margin: 8px 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
   
    font-size: 16px;
    font-weight: 500;
}



.project {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #2563eb;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #1d4ed8;
}

.footer {
    text-align: center;
    padding: 25px;
    background-color: #0f172a;
    color: white;
}
.project-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.project-gallery img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    background-color: #f3f4f6;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
p {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.about-container {
    justify-content: center;
}
